{% extends "base.html" %}

{% block title %}Girls Love Travel{% endblock %}


{% block content %}

<div class="jumbotron">
{% if user.is_authenticated %}
 <h1 class="display-4">Welcome Home,{{ user.username }}!</h1>
 <p class="lead">Head on over to your profile</p>
 <a class="btn btn-primary btn-lg" href="{% url 'profile' %}" role="button">My Profile</a>
<a class="btn btn-primary btn-lg" href="{% url 'index' %}" role="button">Forums</a>
<!--Code for finding other users-->
</div>
<div class="card">
    <div class="card-header">
    Friend Finder</div>
    <div class="card-body">
    
        <form action="{% url 'user_search' %}" method="get">
            <div class="form-group">
                {% csrf_token %}
                <label for="usersearch">Search for friends!</label>
                <input name="q" type="text" placeholder="Search..." class="form-control" id="usersearch">
                <small id="searchhelp" class="form-text text-muted">Try entering a username or first name.</small>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div> 



{% else %}
<h1 class="display-4">Hey Girl! </h1>
<p class="lead">Sign up if you're new here, or log in below.</p>
<a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Register</a>
<a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Log In</a>
{% endif %}
</div>






{% endblock %}